

        <div class="main_section row">
            <div class="about_us_img center">
                <img src="./images/reference-image-1.jpg" alt="Home Page Image" style="max-width:100%; height:auto;">
            </div>
        </div>

        <div class="section_2 row">
            <div class="features">
            
                <div class="">
                    <p class="about_content">
                        The business is a balloon selling company called "The Balloonatic Asylum". The Balloonatic Asylum sells high quality latex and mylar balloons at affordable prices. They make beautiful hand-crafted balloons for any occasion, recreating ideas at the customers request. All you need to do is send them a photo of what you want, and thy will bring it to life as a quality balloon adding that personal touch. They pride themselves on listening to their custom
                    </p>
                    
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="footer row">
                <div class="content">
                    <img src="./images/balloon.jpg" alt="The Balloonatic Asylum">
                        <div class="foot">2021 © The Balloonatic Asylum. All rights reserved.</div>
                </div>
            </div>
        </div>
    </div>
  
</body>