
        <div class="main_section row">
            <div class="home_page_img center">
                <img src="./images/home_page_image.jfif" alt="Home Page Image" style="max-width:100%; height:auto;">
            </div>
        </div>
  

  <div class="section_2 row">
      <div class="features">
          <div class="articles">
              <div class="article_1">
                  <p>
                      The business is a balloon selling company called "The Balloonatic Asylum". The Balloonatic Asylum sells high quality latex and mylar balloons at affordable prices. They make beautiful hand-crafted balloons for any occasion, recreating ideas at the customers request. All you need to do is send them a photo of what you want, and thy will bring it to life as a quality balloon adding that personal touch. They pride themselves on listening to their custom
                  </p>
              </div>
              <div class="article_2">
                  <p>
                      The main features of the business are a large selection of balloons and balloon-themed products for all occasions, local delivery within 75 miles of the main store, two-day shipping anywhere in the USA, free shipping on orders over $100, and a "Balloon-of-the-Month" club that sends an assortment of mystery balloons in a box once per month for $39.95.
                  </p>
              </div>
          </div>
          
          <div class="quote">
              <p class="quote_content">
                  "We have a range of colours and options available, please look at the gallery for a portfolio of pictures. Get in touch and we can discuss your requirements and how you envision your bespoke decorations. Our prime goal is your satisfaction." 
                  
              </p>
              <p class="quote_by" > 
                  — Krista E., Founder of The Balloonatic Asylum
              </p>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="footer row">
          <div class="content">
              <img src="./images/balloon.jpg" alt="The Balloonatic Asylum">
                  <div class="foot">2021 © The Balloonatic Asylum. All rights reserved.</div>
          </div>
      </div>
  </div>
</div>
