<!doctype html>


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Balloonatic Asylum</title>
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/balloon.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <script src="/js/my_script.js"></script>
    <script src="/js/carousel.js"></script>
    <!-- <script src="/js/balloonatic-phase2.js"></script> -->

</head>

<body id="grid">
    <div>
        <div class="header row">
            <div class="logo">
                <img class="img_logo" src="./images/balloon.jpg",alt="The Balloonatic Asylum" style="max-width:100%; height:auto;">
            </div>
            <div class="company_name">
                The Balloonatic Asylum
                <div id="msg">

            </div>
            </div>
            
            <div class="menu_items">
                <!-- <nav> -->
                    <li><a href="./product" >Products</a></li>
                    <li><a href="./about" >About</a></li>
                    <li><a href="./contact_us" >Contact Us</a></li>
                    <button class="btn registration_page">Register</button>
                    <button class="btn login-btn">Login</button>
                    <button class="btn logout-btn" style="display: none;">LogOut</button>
                <!-- </nav> -->
            </div>
        </div>

        

        <div class="category row">
            <div class="row_2">
            <div class="category_list">
             
                    <div class="category_items">
                        <span class="category_name">Birthday Bouquets</span>
                    </div>
                    <div class="category_items">
                        <span  class="category_name">Balloony Occasions</span>
                        
                    </div>
                    <div class="category_items">
                        <span class="category_name">Build a Balloon Bouquets</span>
                        
                    </div>
                    <div class="category_items">
                        <span class="category_name">Decorating with Balloons</span>
                        
                    </div>
                    <div class="category_items">
                        <span class="category_name">Balloons in Nulk</span>
                        
                    </div>
                </div> 
            </div>
        </div>
	<%- body %>

</body>

</html>
