    <div class="container-fluid h-custom">
      <div class="row h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="images/b1.jpg " class="img-fluid"
            alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form action="login" method="POST" id="LoginForm">
       
            <div class="form-outline mb-4">
              <input type="email" id="EmailLogin" name="email" class="form-control form-control-lg"
                placeholder="Enter a valid email address" />
              <label class="form-label" for="Email">Email address</label>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <input type="password" id="PasswordLogin" name="password" class="form-control form-control-lg"
                placeholder="Enter password" />
              <label class="form-label" for="Password">Password</label>
            </div>
  
           
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" class="btn login_user">Login</button>
              <button type="button" class="btn cancel">Cancel</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/registration"
                  class="link-danger">Register</a></p>
            </div>
  
          </form>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="footer row">
            <div class="content">
                <img src="./images/balloon.jpg" alt="The Balloonatic Asylum">
                    <div class="foot">2021 © The Balloonatic Asylum. All rights reserved.</div>
            </div>
        </div>
    </div>
