<div class="container">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-10">
    <h1>Thank you!</h1>
    <br>
    <h1>You are Logged Out Successfully !!</h1>

    <br>
    <p> Go to
      <a href="/">home!</a>
    </p>
  </div>
</div>
<div class="row">
  <div class="footer row">
      <div class="content">
          <img src="./images/balloon.jpg" alt="The Balloonatic Asylum">
              <div class="foot">2021 © The Balloonatic Asylum. All rights reserved.</div>
      </div>
  </div>
</div>